.filterHide {
    transform: scale(0, 0);
    overflow: hidden;
    margin-right: calc(-25% - 70px);
    margin-bottom: calc(-280px - 70px);
    z-index: 0;
}

.cb-postfilter-buttons {
    border-top: solid 1px #a3a3a3;
    border-bottom: solid 1px #a3a3a3;
    padding: 35px 135px;
}

.cb-postfilter-buttons button {
    font-weight: 500;
    line-height: 2.5rem;
    padding: 0 50px 0 0;
    border: none;
}

.cb-postfilter-buttons button:hover {
    color: var(--e-global-color-primary);
    background: none;
}

.cb-postfilter-buttons button:focus {
    outline: none;
    color: var(--e-global-color-primary);
    background: none;
}

.cb-postfilter-btn-active {
    color: var(--e-global-color-primary) !important;
}

.cb-postfilter-gallery {
    display: flex;
    flex-flow: row wrap;
    gap: 70px;
    max-width: 80%;
    padding-top: 40px;
    margin: auto;
}

.cb-postfilter-gallery a {
    color: var(--e-global-color-text);
}

.cb-postfilter-gallery a:hover {
    color: default;
}

.cb-postfilter-gallery-card {
    flex-basis: 30%;
    height: fit-content;
    background-color: var(--e-global-color-30d39a63);
    z-index: 1;
    transition: all ease .55s;
}

.cb-postfilter-gallery-card:hover {
    background-color: #d8d8d8;
}

.cb-postfilter-gallery-card img {
    width: 100%;
    height: 390px;
    object-fit: cover;
}

.cb-postfilter-sticky:first-of-type {
    flex-basis: calc(60% + 70px);
}

.cb-postfilter-blog-text {
    padding: 25px 15px;
}

.cb-postfilter-blog-date {
    margin-bottom: 10px !important;
}

.cb-postfilter-blog-divider {
    display: block;
    border-top: solid 2px var(--e-global-color-primary);
    width: 22.5%;
    margin-bottom: 10px;
}

.cb-postfilter-blog-title {
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 0 !important;
}

.cb-postfilter-gallery-card:hover button {
    background-color: #E0C80026 !important;
}

/* Mobile-Anpassungen */

@media screen and (max-width: 767px) {
    .cb-postfilter-buttons button {
        padding: 10px;
    }
    .cb-postfilter-gallery-card, .cb-postfilter-sticky:first-of-type {
        flex-basis: 100%;
    }
    .cb-postfilter-gallery {
        gap: 20px;
    }
    .cb-postfilter-buttons {
        padding: 0px 20px;
    }
    .cb-postfilter-gallery-card img {
        height: 150px;
    }
}

/* Tablet-Anpassungen */

@media screen and (max-width: 1024px) {
    .cb-postfilter-gallery-card, .cb-postfilter-sticky:first-of-type {
        flex-basis: 44%;
    }
    .cb-postfilter-gallery-card img {
        height: 200px;
    }
}
